@page
@model CIAcademicApp.Pages.VistaProfesorModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login Model</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=b4baa272cdf7e6fc929207f0eba1527f">
    <link rel="stylesheet" href="/assets/css/Lato.css?h=dacfec06adcdcea49cc3cdead3b85714">
    <link rel="stylesheet" href="/assets/css/Nunito.css?h=555dddb13675206f5abf5cd296b628b3">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Animated-Typing-With-Blinking.css?h=b9f293d3fb23df4806cb012d2ed48611">
    <link rel="stylesheet" href="/assets/css/button_link.css?h=ffbc888b85647755812df45e541e8e71">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/ListMaterias-1.css?h=5f364738728291e9e4aa72efe2b921c7">
    <link rel="stylesheet" href="/assets/css/ListMaterias.css?h=1fe6a44da6474d6df7e0833b1703650f">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic.css?h=92bfdc06623e71c3b7773fb89801d0d0">
    <link rel="stylesheet" href="/assets/css/Search-Input-Responsive-with-Icon.css?h=c5a63853e6dd86fd9ec900eae82d3494">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md fixed-top py-3" style="font-family: system-ui; font-weight: bold; background: #ffffff;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="VistaProfesor">
            <img src="/assets/img/logo.png" alt="">
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link green-background course-pointer" aria-expanded="false" data-bs-toggle="dropdown" href="#">Perfil</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="Index"><i class="far fa-user-circle icon-margin"></i>Cerrar Sesion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="AsignaturasProfesor">Asignaturas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="profile">
    <div class="d-flex" style="width: 100%;">
        <h1 data-aos="fade-right" data-aos-duration="1700" class="profile" style="font-family: system-ui; padding-top: 10rem; padding-left: 5rem; padding-bottom: 1.3rem;">Hola Profesor!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-md-3 offset-lg-3">
                <div class="d-sm-flex flex-column justify-content-center align-items-center justify-content-sm-start align-items-sm-center">
                    <div class="border-secondary d-inline-flex flex-column flex-grow-1 justify-content-center align-items-sm-center justify-content-xl-center align-items-xl-center">
                        <img class="rounded-circle img-fluid d-flex d-sm-flex flex-column flex-grow-0 flex-shrink-1 justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-center" src="https://w1.pngwing.com/pngs/213/1021/png-transparent-google-logo-teacher-school-education-student-world-teachers-day-learning-teacher-education.png">
                    </div>
                    <div>
                        <div class="text-center id-div">
                            <p class="text-center" style="font-family: system-ui; font-weight: bold; font-size: 28px;">1051111</p>
                        </div>
                        <div class="text-center id-div">
                            <p class="text-center minus-margin" style="font-family: system-ui; font-weight: bold; font-size: 20px;">1051111@prof.universus.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js?h=02a8f8d0119ea38ce4670281c1438789"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>