.margin-heading {
  margin-top: 7rem;
  padding: 100px;
}

.background-div {
  padding: 30px;
  /*margin-top: 3rem;*/
}

.margin-calification {
  margin-left: 2rem;
}

.calification-color {
  color: #FF9F1C;
}

.padding-container {
  padding: 40px;
  border-radius: 30px;
}

p {
}

