.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.green-back {
  background-color: red;
  border-radius: 10px;
}

.navbar {
  padding: 2rem;
}

.right-space {
  align-items: end;
  justify-items: end;
  text-align: end;
}

a {
  margin-right: 3rem;
}

.profile h1 {
  font-weight: 800;
  font-size: 48px;
}

.credits {
  border-radius: 30px;
  padding: 1.3rem;
}

.id-div {
  margin-top: 3rem;
}

.profile img {
  border-style: solid;
  border-radius: 30rem;
  border-color: red;
}

.blue.size {
}

.size {
  padding: 15rem;
}

.green-back {
}

p {
}

.indice-general p {
  margin-top: 1REM;
}

.section-padding {
  padding: 130px;
}

.AsigBackground {
  background-color: red;
  border-radius: 2rem;
  padding: 40px 56px 21px 40px;
  margin-bottom: 26px;
}

.signatureParagraph {
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 800;
  margin-top: 15px;
  text-align: center;
}

.asignatura-parrafo {
  font-family: 'Nunito';
  font-weight: 800;
  font-size: 20px;
  margin: 20px 0px 0px 20px;
}

.div-brackgrround {
  background-color: red;
  padding: 1.5rem;
  border-radius: 20px;
}

.margin-container {
  margin-top: 130px;
}

.search {
  margin-bottom: 30px;
}

.ml-3 {
}

.btn-project {
  background-color: red;
  font-weight: bold;
  margin-left: 2rem;
}

.textAPP {
  text-align: center;
}

.icon-margin {
  margin-right: 8px;
}

