@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">Perfil</a>
    <div class="dropdown-menu">
        <a class="dropdown-item green-background" href="UserView"><i class="far fa-user-circle icon-margin"></i>Perfil</a>
        <a class="dropdown-item" href="SeleccionarAsignatura"><i class="fas fa-tasks icon-margin"></i>Seleccionar Asignaturas</a>
        <a class="dropdown-item" href="HistorialAcademico"><i class="far fa-file-alt icon-margin"></i>Historial Academico</a>
        <a class="dropdown-item" href="RetirarAsignatura"><i class="far fa-user-circle icon-margin"></i>Retirar Asignatura</a>
        <a class="dropdown-item" href="LoginCIAcademic"><i class="icon ion-android-exit icon-margin"></i>Cerrar Sesion</a>
    </div>
</li>